doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=#{viewport}, minimum-scale=#{320 / viewport}, maximum-scale=#{320 / viewport}, user-scalable=yes")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(property="og:title" content=title)
    meta(property="og:type" content="website")
    meta(property="og:url" content="#{url}")
    meta(property="og:image" content="#{url}img/ogp.png")
    meta(property="og:site_name" content=title)
    meta(property="og:description" content=description)
    meta(property="fb:app_id" content=fb_app_id)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image:src" content="#{url}img/ogp.png")
    link(rel="shortcut icon" href="/favicon.ico")
    link(href="css/style.css" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css')
    script(src="js/lib/modernizr.min.js")
  body
    main.contents
      div.firstview(data-id="1")
        p.firstview_logo-big
        h2.firstview_ttl ￥fographics
        p.firstview_txt ￥fographics(エンフォグラフィックス)は、金額をさまざまなものに変換し、視覚的に表現することで、お金の価値を多角的に見つめなおすサイトです。
        p.firstview_start はじめる
      div.firstview(data-id="2")
        p.firstview_subttl 変換したい金額を入力してください。
        p.firstview_input
          input.firstview_input_inner(type="tel" value="")
        p.firstview_start この金額で見積もる
      div.result
        p.result_price
          span.result_price_yen
          span.result_price_num
        p.result_item_big
        p.result_item_info
        div.result_item
          p.result_item_hide
        div.result_formula
          p.result_formula_inner.result_formula_yen
          p.result_formula_inner.result_formula_price
          p.result_formula_inner.result_formula_equal =
          div.result_formula_inner.result_formula_amount
            p.result_formula_amount_icon
            p.result_formula_amount_txt
            p.result_formula_amount_name
          p.result_formula_inner.result_formula_unit
    header.header
      h1.header_ttl
        a(href="./") ￥fographics
      div.header_social
        div.fb-like.header_social_inner(data-href=url data-layout="button_count" data-action="like" data-show-faces="false" data-share="false")
        p.tweet.header_social_inner
          a.twitter-share-button(href="https://twitter.com/share" data-text=description data-lang="ja" data-url=url) ツイート
    footer.footer
      div.footer_social.clearfix(data-url="#{url}")
        p.footer_social_inner.footer_social_inner-facebook.facebook
        p.footer_social_inner.footer_social_inner-tweet.tweet
      p.footer_inner.footer_another 別のなにかに変換する
      p.footer_inner.footer_again 金額を入れなおす
    script(src="js/lib/jquery-2.1.4.min.js")
    script(src="js/lib/jquery.browser.min.js")
    script(src="js/lib/velocity.min.js")
    script(src="js/script.js?2")
    script
      include ga.js
